* {

    box-sizing: border-box;
}
#sketch{
    width:100%;
    height:100%;
}
#color-selector {
    position: fixed;
    top: 0;
    right: 0;
    width: 80px;
    height: 120px;
    background: black;
}
#message{
    width:80%;
}
#send{
    width:20%;
}
#inputContainer{
    width:100%;
    position:absolute;
    bottom:0;
}
#chatContainer{
    position:fixed;
    bottom:0;
    right:0;
    width:25%;
    height:50%;
}
.marker {
    width: 40px;
    height: 40px;
    float: left;
}

.marker.selected {
    border: 2px solid white;
}

